@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  background-color: #111b21;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #2f3b41;
  border-radius: 3px;
}
